body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    
}


.sec1{
    height: 100%;
    width: 1340px;
    
    
}
.inagentello{
   
    margin-left: 530px;
    margin: 40px;
    width: 40%;
    height: 40;
}
.home1{
    margin-left: 280px;
    width: 740px;
    height: 85px
    text-align-last: center;
    
}
.hom1{
    margin-left: 280px;
    text-align-last: center;
    width: 780px;
    height: 135px
}
.btn{
    background-color: Green;
    margin-left: 560px;
    width: 216px;
    height: 42px;
    font-size: 18px;
    color: white;
    border: 1px solid green;
    border-radius: 8px;
}
.secc1{
    margin: 50px;
    margin-left: 560px;
    width: 216px;
    height: 2px;
}


.sec2{
    background-color: #0079bf;
    color: white;
     width: 100%;
    height: 1000px;
}
.home2{
    margin-left: 390px;
    text-align-last: left;
    width: 800px;
    height: 85px
    
}
.imagenhome2{
    margin-left: 100px;
     width: 1160px;
    height: 560px;
}
.tex1{
    margin-left: 20%;
    text-align-last: left;
    width: 50%;
    height: 70%
    
}

.sec3{
     width: 1340px;
    height: 950px;
    
}
.tex3{
    
     margin-left: 390px;
    text-align-last: center;
    width: 638px;
    height: 85px
}
.btnsec3{
    background-color: transparent;
    border-color: LightSeaGreen;
    width: 381px;
    height: 54px;
    font-size: 18px;
    color: LightSeaGreen;
        
}
.imagenhome3{
     margin: 45px;
    margin-left: -140px;   
}

.sec4{
    width: 1600px;
    height: 400px;
    background-color: #b6e2fc;
    
}
.home4{
    float: right;
    margin: 80px;
    
   
}
.tex4{
   
     margin: 46px;
     margin-left: 160px;
    float: left;
     width: 591px;
    height: 154px;
}
.secc4{
   
     margin-left: 157px;
    
}
.manza{
   
    width: 195px;
    height: 85px;
}
.btnsec4{
     background-color: transparent;
    border-color: #b6e2fc ;
    width: 281px;
    height: 40px;
    font-size: 18px;
    color: Green;
      border: 1px solid #0079bf;
    border-radius: 8px;
    
}
.sec5{
     width: 1500px;
    height: 400px;
    
}
.tex5{
     margin: 89px;
     margin-left: 160px;
    float: left;
     width: 700px;
    height: 154px;
    
}
.reloj{
    
    margin: 75px;
    margin-right: 140px;
    float: right;
}

.sec6{
    width: 1500px;
    height: 450px;
    background-color:#0079bf; 
}
.tex6{
    float: left;
    margin: 55px;
    margin-left: 165px;
    text-align: center;
    color: white;
}

.uno{
    margin-left: 20%;
    height: 10%;
    width: 10%;
}
.dos{
    margin-left: 5%;
    height: 10%;
    width: 10%;
}
.tres{
     margin-left: 2%;
    height: 5%;
    width: 5%;
}
.cuatro{
    margin-left: 5%;
    height: 10%;
    width: 10%;
}
.cinco{
    margin-left: 5%;
    height: 10%;
    width: 10%;
}
.seis{
    
    margin-left: 5%;
    height: 10%;
    width: 10%;
}
.siete{
     margin-left: 5%;
    height: 10%px;
    width: 10%;
}
.ocho{
     margin-left: 5%;
    height: 10%;
    width: 10%;
}
.nueve{
    margin-left: 5%;
    height: 10%;
    width: 10%;
}
.sec7{
      width: 1500px;
    height: 500px;
    background-color: #42548e;
}
.home7{
    width: 195px;
    height: 85px;
       float: left;
    margin: 50px;
   margin-left: 100px;
    margin-top: 50px%;
}
.tex7{
    float: right;

     margin-left: 200%;
     width: 50%;
    height: 100%;
        
        float: left;
    color: white;
    margin: 85px;
    text-align-last: left;
    
    
}
.btnsec7{
    
    background-color: transparent;
    border-color: white;
    width: 70%;
    height: 50px;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}

.sec8{
    width: 1340px;
    height: 330px;
}
.text8{
    margin: 75px;
    margin-left: 380px;
    text-align-last: center;
    width: 580px;
    height: 135px
}
.btnsec8{
     background-color: Green;
    margin-left: 560px;
      width: 216px;
    height: 42px;
    font-size: 18px;
    color: white;
     border: 1px solid green;
    border-radius: 8px;
}
.sec9{
    background-color: #0079bf;
     width: 1500px;
    height: 280px;
}
.dog{
     float: left;
    margin: 25px;
   margin-left: 300px;
     width: 170px;
    height: 200px;
}

.tex9{
    float: left;
    color: white;
    margin: 85px;
    text-align-last: left;
}

.sec10{
    margin: 75px;
    margin-left: 0px;
     width: 1340px;
    height: 180px;
}

.ul{
   text-align: center;
}

.ul li{
    display: inline-block;
        padding-right: 15px;
}
.ul li a{
    color: gray;
}
.final{
    text-align: center;
    color: grey;   
}
.final a{
    color: grey;
}









